<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!-- Create new group -->
	<servlet>
		<servlet-name>CreateNewGroup</servlet-name>
		<servlet-class>ttu.vorgu2.hw1.ServletCreateGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewGroup</servlet-name>
		<url-pattern>/new_group</url-pattern>
	</servlet-mapping>
	
<!-- 	Join group -->
	<servlet>
		<servlet-name>JoinGroup</servlet-name>
		<servlet-class>ttu.vorgu2.hw1.ServletJoinGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinGroup</servlet-name>
		<url-pattern>/join_group</url-pattern>
	</servlet-mapping>
	
<!-- 	Registration -->
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>ttu.vorgu2.hw1.ServletRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
<!-- 	Login -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ttu.vorgu2.hw1.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
<!-- 	Update person -->
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>ttu.vorgu2.hw1.ServletUpdatePerson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

<!-- 	Set coordinates -->
	<servlet>
		<servlet-name>SetCoords</servlet-name>
		<servlet-class>ttu.vorgu2.hw1.ServletSetCoords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetCoords</servlet-name>
		<url-pattern>/set_coords</url-pattern>
	</servlet-mapping>

<!-- Start page -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
